	<div id="hero-image">
		<h1 id="hero-title">Star Wars Movies App</h1>
	</div>


	<div id="posters-wrapper" class="content-padding clearfix">
		<% @episodes.each do |e| %>
		<div class="poster">	  		

			 <%= link_to episode_path(e.id) do %>
			  	 <%=image_tag e.poster, class: "img-responsive"%>
			  	

			  	<div class="poster-info-overlay">
			  		<h3><%= e.title %></h3>
			  		<h4><%= link_to "View More", episode_path(e.id) %> <i class="fa fa-arrow-right"></i></h4>
			  	</div>
		  	<% end %>

		</div>
		<% end %>

	</div>
